.form {
    text-align: right;
}

.form button {
    font: inherit;
    cursor: pointer;
    background-color: #55077e;
    border: 1px solid #55077e;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
}

.form button:hover,
.form button:active {
    background-color: #641e03;
    border-color: #641e03;
}

.error {
    width: 10rem;
    font-size: 0.8rem;
    color: red;
}

/* 
.noerror {
    display: none;
} */