.meals {
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    animation: meals-appear 1s ease-out forwards;
}

p {
    color: black;
    font-weight: unset;
}


.mealsLoading {
    color: rgb(35, 20, 70);
    font: 1.5rem sans-serif;
    text-align: center;
}

.mealsError {
    color: rgb(203, 0, 37);
    font: 1.5rem sans-serif;
    text-align: center;
}

.meals ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.meals li {
    color: black;
}

@keyframes meals-appear {
    from {
        opacity: 0;
        transform: translateY(3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}