#root {
  max-width: 1280px;
  margin: 0 auto;
  /* margin-left: auto;
  margin-right: auto; */
  padding: 2rem;
  display: block;
}

.App .card {
  padding: 2em;
}

.read-the-docs {
  color: #ffffff;
}